[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastai = ">=2.0.0"
graphviz = "*"
ipywidgets = "*"
matplotlib = "*"
nbdev = ">=0.2.12"
pandas = "*"
scikit-learn = "*"
azure-cognitiveservices-search-imagesearch = "*"
sentencepiece = "*"

[dev-packages]

[requires]
python_version = "3.9"
